.snapshot {
  display: flex;
  align-items: center;
}

.material-icons.snapshot_photo {
  font-size: 400%;
  color: #4a4a4a;
}

.snapshot_list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;

  div > dd,dt {
    display: inline;
    margin: 0;
    font-size: 0.8em;
  }
}

.snapshot_info {
  display: flex;
  flex-direction: column;

  h3 {
    margin: 0;
    align-self: flex-start;
  }
}

.snapshot_field {
  flex-basis: 34%;
  margin: 0;
}
