.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  background-color: #e7e7e9;

  > * {
    margin-right: 2em;
  }

  i {
    font-size: 250%;
  }
}

.left-panel {
  display: flex;
  align-items: center;
}
