@import '../../styles/variables';

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  background-color: #e7e7e9;

  > * {
    margin-right: 2em;
  }

  &__back {
    font-size: 1.8em;
    color: $gray-lighter;
    margin-right: 20px;
    cursor: pointer;

    &:hover {
      color: $gray;
    }
  }

  &__left-panel {
    display: flex;
    align-items: center;
  }

  &__right-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    max-width: 60%;
  }
}
